[Unit]
Description=Cloudflare Tunnel - Linux
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cloudflared tunnel --config /home/mini/.cloudflared/config.yml run
Restart=on-failure
RestartSec=10
User=mini

[Install]
WantedBy=multi-user.target
